@-webkit-keyframes rotateText {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotateText {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 2rem;
  background-color: #e3f6f5;
  border-radius: 1rem;
  position: relative;
}

nav .navbar a {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #163a5f;
  background-color: #e3f6f5;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
nav .hamburger-navbar {
  text-align: right;
  font-size: 5rem;
  color: #163a5f;
}

.name .credentials {
  -webkit-animation: rotateText 6s infinite linear;
          animation: rotateText 6s infinite linear;
}
.name .credentials h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #163a5f;
  background-color: #ffffff00;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.name .credentials h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #163a5f;
  background-color: #ffffff00;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.bio-container h1 {
  background-image: url("../images/cubes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  transition-duration: 4000ms;
}
.bio-container p {
  font-family: "Merriweather", "DejaVu Serif", Georgia, serif;
  color: #1d566e;
  background-color: #ffffff00;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.interests .interests-container h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #e3f6f5;
  background-color: #ffffff00;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  transition-duration: 4000ms;
}
.interests .interests-container p {
  font-family: "Merriweather", "DejaVu Serif", Georgia, serif;
  color: #e3f6f5;
  background-color: #ffffff00;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.employment-container h1 {
  background-image: url("../images/cubes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
  transition-duration: 4000ms;
}
.employment-container th {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #163a5f;
  background-color: #ffffff00;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}
.employment-container tr {
  font-family: "Merriweather", "DejaVu Serif", Georgia, serif;
  color: #1d566e;
  background-color: #ffffff00;
  font-size: 1.6rem;
  font-weight: 700;
}

.education-container h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #e3f6f5;
  background-color: #ffffff00;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  transition-duration: 4000ms;
}
.education-container th {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #e3f6f5;
  background-color: #ffffff00;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.education-container tr {
  font-family: "Merriweather", "DejaVu Serif", Georgia, serif;
  color: #21aba5;
  background-color: #ffffff00;
  font-size: 1.2rem;
  font-weight: 700;
}

.skills-container h1 {
  background-image: url("../images/cubes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
  transition-duration: 4000ms;
}
.skills-container h2 {
  background-image: url("../images/cubes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 2rem 0;
}
.skills-container li {
  list-style: none;
  font-family: "Merriweather", "DejaVu Serif", Georgia, serif;
  color: #163a5f;
  background-color: #ffffff00;
  font-size: 1.4rem;
  font-weight: 400;
}

.contact h1 {
  background-image: url("../images/cubes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: "Merriweather", "DejaVu Serif", Georgia, serif;
  font-size: 5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  transition-duration: 4000ms;
}
.contact .contact-details div {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #163a5f;
  background-color: #ffffff00;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 3rem;
}
.contact .social-media {
  font-size: 5rem;
  color: #e3f6f5;
}
.contact .social-media a {
  text-decoration: none;
  color: #e3f6f5;
}

.fade-in {
  position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: 3s all ease;
}
.fade-in.active {
  transform: translateY(0);
  opacity: 1;
}

nav .navbar {
  z-index: 10;
}
nav .navbar a {
  border-radius: 1rem;
  padding: 1rem;
}
nav .hamburger-navbar {
  cursor: pointer;
  z-index: 10;
}

.name .name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100rem;
  height: 80vh;
  margin: 0 auto;
  padding-top: 5rem;
}
.name .name-container img {
  grid-area: "image";
  width: 15rem;
  height: auto;
  align-self: center;
}

.bio-container {
  padding: 10rem 0;
  margin: 0 auto;
  width: 75rem;
}

.interests {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interests .interests-container {
  width: 75rem;
  padding: 5rem;
}

.employment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}
.employment-container td {
  width: 50%;
}

.education {
  display: grid;
  place-items: center;
}
.education .education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
}

.skills {
  display: grid;
  place-items: center;
}
.skills .skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact {
  display: grid;
  place-items: center;
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75rem;
  height: 30rem;
}
.contact .contact-container .contact-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.contact .contact-container .contact-details div {
  display: grid;
  place-items: center;
}
.contact .contact-container .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40rem;
}

nav .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 0.5rem;
  position: fixed;
  top: 8rem;
  right: 2.5rem;
}
nav .hide-nav {
  display: none;
}
nav .hamburger-navbar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  text-align: right;
  padding-right: 1rem;
}

.name {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("../images/laptop_on_desk.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.interests {
  background-image: url("../images/cubes.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
}
.interests .interests-container {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.education {
  background-image: url("../images/ivana-cajina-OceanWaves-Unsplash.jpg");
  background-size: cover;
  height: 120vh;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
}
.education .education-container {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.skills {
  height: auto;
}
.skills .skills-container {
  padding: 5rem;
}

.contact {
  background-image: url("../images/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}
.contact .contact-details div {
  width: 40rem;
  height: 5rem;
  background-color: #e3f6f5;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px #000000;
  padding: 1rem;
  margin-top: 5rem;
}/*# sourceMappingURL=main.css.map */