.name {
  .name-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 5rem;
    width: 100rem;

    img {
      align-self: center;
      grid-area: 'image';
      height: auto;
      width: 15rem;
    }
  }
}

.bio-container {
  margin: 0 auto;
  padding: 10rem 0;
  width: 75rem;
}

.interests {
  align-items: center;
  display: flex;
  justify-content: center;

  .interests-container {
    padding: 5rem;
    width: 75rem;
  }
}

.employment-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;

  td {
    width: 50%;
  }
}

.education {
  display: grid;
  place-items: center;

  .education-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
  }
}

.skills {
  display: grid;
  place-items: center;

  .skills-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.contact {
  display: grid;
  place-items: center;

  .contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-evenly;
    width: 75rem;

    .contact-details {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      div {
        display: grid;
        place-items: center;
      }
    }

    .social-media {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 40rem;
      justify-content: space-evenly;
    }
  }
}
