nav {
  
  .navbar {
    align-items: center;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
    position: fixed;
    right: 2.5rem;
    top: 8rem;

  }

  .hide-nav {
    display: none;
  }

  .hamburger-navbar {
    padding-right: 1rem;
    position: fixed;
    right: 3rem; //TODO! Check if it works later on 
    text-align: right;
    top: 3rem;
  }
}