nav {

  .navbar {
    z-index: 10;
    background-color: $colour5;
    width: 14rem;
    padding: 6px 0;
    border-radius: 1rem;

    a {
      border-radius: 1rem;
      padding: 1rem;
      width: 13rem;
      text-align: center;

    }
  }

  .hamburger-navbar {
    cursor: pointer;
    z-index: 10;
  }
}
