//Global resets
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Setting 1rem = 10px for ease of use
html {
  font-size: 62.5%;
  background-color: $colour6;
  scroll-behavior: smooth;
}

//Padding on body to create a "border"
body {
  margin: 2rem;
  background-color: $colour5;
  border-radius: 1rem;
  position: relative; //Positioning for fixed navbar
  
}