nav {
  .navbar {
    a {
      @include font(
        $font-primary,
        $colour1,
        $colour5,
        $font-size-normal,
        $font-weight-bold
      );
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .hamburger-navbar {
    color: $colour1;
    font-size: $font-size-md;
    text-align: right;
  }
}

.name {
  .credentials {
    animation: rotateText 6s infinite linear;

    h1 {
      @include font(
        $font-primary,
        $colour1,
        $transparent,
        $font-size-lg,
        $font-weight-bold
      );
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      @include font(
        $font-primary,
        $colour1,
        $transparent,
        $font-size-md,
        $font-weight-bold
      );
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.bio-container {
  h1 {
    @include text-clip($font-weight-bold, $font-size-lg);
    margin-bottom: 2rem;
    text-align: center;
    transition-duration: 4000ms;
  }

  p {
    @include font(
      $font-secondary,
      $colour2,
      $transparent,
      $font-size-normal,
      $font-weight-bold
    );
    letter-spacing: 1.5;
    line-height: 1.5;
  }
}

.interests {
  .interests-container {
    h1 {
      @include font(
        $font-primary,
        $colour5,
        $transparent,
        $font-size-lg,
        $font-weight-bold
      );
      margin-bottom: 2rem;
      text-align: center;
      text-transform: uppercase;
      transition-duration: 4000ms;
    }

    p {
      @include font(
        $font-secondary,
        $colour5,
        $transparent,
        $font-size-normal,
        $font-weight-bold
      );
      letter-spacing: 1.5;
      line-height: 1.5;
    }
  }
}

.employment-container {
  h1 {
    @include text-clip($font-weight-bold, $font-size-lg);
    margin-bottom: 3rem;
    transition-duration: 4000ms;
  }

  th {
    @include font(
      $font-primary,
      $colour1,
      $transparent,
      $font-size-md,
      $font-weight-bold
    );
    text-align: left;
  }

  tr {
    @include font(
      $font-secondary,
      $colour2,
      $transparent,
      $font-size-normal,
      $font-weight-bold
    );
  }
}

.education-container {
  h1 {
    @include font(
      $font-primary,
      $colour5,
      $transparent,
      $font-size-lg,
      $font-weight-bold
    );
    margin-bottom: 3rem;
    text-transform: uppercase;
    transition-duration: 4000ms;
  }

  th {
    @include font(
      $font-primary,
      $colour5,
      $transparent,
      $font-size-md,
      $font-weight-bold
    );
    text-align: left;
    text-transform: uppercase;
  }

  tr {
    @include font(
      $font-secondary,
      $colour3,
      $transparent,
      $font-size-xs,
      $font-weight-bold
    );
  }
}

.skills-container {
  h1 {
    @include text-clip($font-weight-bold, $font-size-lg);
    margin-bottom: 3rem;
    transition-duration: 4000ms;
  }

  h2 {
    @include text-clip($font-weight-bold, $font-size-md);
    margin: 2rem 0;
  }

  li {
    @include font(
      $font-secondary,
      $colour1,
      $transparent,
      $font-size-sm,
      $font-weight-normal
    );
    list-style: none;
  }
}

.contact {
  h1 {
    @include text-clip($font-secondary, $font-size-lg);
    transition-duration: 4000ms;
  }

  .contact-details {
    div {
      @include font(
        $font-primary,
        $colour1,
        $transparent,
        $font-size-normal,
        $font-weight-bold
      );
      margin: 3rem;
    }
  }

  .social-media {
    color: $colour5;
    font-size: $font-size-lg;

    a {
      color: $colour5;
      text-decoration: none;
    }
  }
}

.fade-in {
  opacity: 0;
  position: relative;
  transform: translateY(-150px);
  transition: 3s all ease;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
