//Colour scheme
$colour1: #163a5f;
$colour2: #1d566e;
$colour3: #21aba5;
$colour4: #45eba5;
$colour5: #e3f6f5;
$colour6: #ffffff;
$colour7:rgba(255, 255, 255, 0.5);
$colour8: rgba(255, 255, 255, 0.8);
$transparent: #ffffff00;
$black: #000000;

//Font families
$font-primary: 'Lato', Arial, Helvetica, sans-serif;
$font-secondary: 'Merriweather', 'DejaVu Serif', Georgia, serif;

//Font sizes
$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-md: 2.5rem;
$font-size-lg: 5rem;

//Font weight
$font-weight-thin: 100;
$font-weight-medium: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-xbold: 900; 
